	* {
  box-sizing: border-box;
  
}
 h1 {
  margin-bottom: 30px;
  color: green;
  text-align: center;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
}

#box {
background-color: grey;
width:90%;
padding:0px;
text-align: justify;
border: 1px solid black;
height:340px;
  margin-right:auto;
  margin-left:auto;
  margin-top: 10px;
  margin-bottom: 10px;

 font-family:  Arial, Helvetica, sans-serif;

}
p{ float: left; 
	padding: 10px;
}
h2{
	text-align: right;
background-color: pink;
width: 130px;
float: right;
margin:0px;
padding:0px ;
border-left: 1px solid black; border-bottom: 1px solid black;
}


.container{
	position: relative
	
}

.row {
  width: 100%;

}
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
     width: 33.33%;
    
  }
  
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
    
  }
  
  .col-md-6 {
    width: 50%;
  }
  
  .col-md-12 {
    width: 100%;
    

     
  }
}

@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
    width: 100%;
  
  }
}
